@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf0;
  --foreground: #000000;
  color-scheme: "light";
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */

  /* For Firefox */
  scrollbar-width: thin; /* Use thin scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #f5decf; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */

  /* For Firefox */
  scrollbar-color: #ff6600 rgba(255, 246, 201, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8019; /* Color on hover */
}

/* styles/globals.css */
.scrollbar-hidden {
  overflow: hidden; /* Hide scrollbar */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers */
}

.custom-modal {
  background: white;
  box-shadow: 0px 10px 6px 0px #ff660040;
}

.custom-backdrop {
  background: #ffffffe5;
  backdrop-filter: blur(12px);
}
